# A comma-separated list of allowed CORS origins
# Include all local test URLs and the agent's IP address
# Do NOT include any trailing slashes "/" after the URLs
# Default Vite port is 5173, change it if you are using a different port
ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173,http://<AGENT_IP>:<AGENT_PORT>